/* src/styles/CreateUser.css */
.create-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: none !important;
  background-color: #343a40;
}

.create-user-form {
  background: #495057;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: none !important;
  width: 50vh !important;
  position: relative;
}

.create-user-form .logo {
  width: 100px;
  margin-bottom: 20px;
}

.create-user-form h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

.create-user-form .form-error {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #dc3545;
}

.create-user-form .form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.create-user-form .form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #ffffff;
}

.create-user-form .form-group .form-control {
  padding: 0.75rem 1rem;
  background-color: #6c757d;
  color: #ffffff;
  border: 1px solid black;
}

.create-user-form .form-group .form-control:focus {
  box-shadow: none;
  border-color: #007bff;
}

.create-user-form .form-group .form-control.is-invalid {
  border-color: #dc3545;
}

.create-user-form .form-group .form-control.is-invalid:focus {
  box-shadow: none;
}

.create-user-form .form-group .form-control.is-invalid + .invalid-feedback {
  display: block;
}

.create-user-form .mb-4 {
  margin-bottom: 1.5rem;
}

.create-user-form .w-100 {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
}

.back-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  color: #ffffff;
}
