.homepage-container {
  background-color: #343a40;
  min-height: 100vh;
}
.tab-content{
    background: none !important;
}
.navbar {
  margin-bottom: 2rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #007bff;
}

.container {
  background: #495057;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tab-content {
  background: #343a40;
  padding: 20px;
  border-radius: 10px;
}

.nav-tabs .nav-link.active {
  background-color: #495057;
  color: #ffffff;
}

.nav-tabs .nav-link {
  color: #ffffff;
}

.nav-tabs .nav-link:hover {
  color: #007bff;
}
