.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: none !important;
  background-color: #343a40;
}

.title {
  color: #ffffff;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 30px;
}

.login-form {
  background: #495057;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: none !important;
  width: 50vh !important;
}

.login-form .logo {
  width: 120px;
  margin-bottom: 20px;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

.login-form .form-error {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #dc3545;
}

.login-form .form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.login-form .form-group label {
  margin-bottom: 0.5rem;
  color: #ffffff;
  font-weight: bold;
}

.login-form .form-control {
  padding: 0.75rem 1rem;
  background-color: #6c757d;
  border-color: black;
  color: #ffffff;
}

.login-form .form-control:focus {
  box-shadow: none;
  border-color: #007bff;
}

.login-form .form-control.is-invalid {
  border-color: #dc3545;
}

.login-form .form-control.is-invalid:focus {
  box-shadow: none;
}

.login-form .form-control.is-invalid + .invalid-feedback {
  display: block;
}

.login-form .mb-4 {
  margin-bottom: 1.5rem;
}

.login-form .w-100 {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  border: none;
}

.login-form .w-100:hover {
  background-color: #0056b3;
}

.login-form .mt-3 {
  margin-top: 1rem;
  text-align: center;
}

.login-form .text-center a {
  color: #007bff;
}

.login-form .text-center a:hover {
  color: #0056b3;
}
